@import "tailwindcss";

/* primaryColor = #f5261b */
/* secondaryColor = #e8e8e8 */
/* color = #D6D4D5 */
/* red = #d66062 */

/* PBB = #f2fcf9 */
/* Listrik = #fffbf0 */
/* pulsa = #f7f8fc */
/* pdam = #f7f5ff */
/* pgn = #fff5f6 */
/* tv = #f3ebfa */
/* musik = #fcf7fb */
/* game = #f7ffed */
/* makanan = #f0fbff */
/* kurban = #f7f7fa */
/* zakat = #f5fff7 */
/* paket data = #f2fdff */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bgSaldo{
    background-image: url("/images/homePage/Background Saldo.png");
    background-repeat: no-repeat;
    background-size: contain;
}