@import "tailwindcss";

/* primaryColor = #f5261b */
/* secondaryColor = #e8e8e8 */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bgSaldo{
    background-image: url("/images/homePage/Background Saldo.png");
    background-repeat: no-repeat;
}

button{
  cursor: pointer;
}